<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href='/'>Tiendas Móvil</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                {% if 'usuario' in session %}
                    {% if g.rol.nombre == 'administrador' %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('registrar_usuario') }}">REGISTRAR USUARIO</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('listar_usuario') }}">LISTAR USUARIO</a>
                        </li>

                        </li>
                    {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('ver_mapa') }}">MAPA</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('registro_pedido') }}">REGISTRAR PEDIDO</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('registro_clientes') }}">REGISTRAR CLIENTE</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="productoDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                PRODUCTO
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="productoDropdown">
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ url_for('registro_productos') }}">REGISTRAR PRODUCTO</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ url_for('listar_producto') }}">LISTAR PRODUCTO</a>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <span class="nav-link">Rol: {{ g.rol.nombre if g.rol else 'Sin rol asignado' }}</span>
                        </li>

                {% endif %}
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-user"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                        {% if 'usuario' in session %}
                            <li><a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a></li>
                            <li><a class="dropdown-item" href="#">Perfil</a></li>
                            <li><a class="dropdown-item" href="#">Configuración</a></li>
                        {% else %}
                            <li><a class="dropdown-item" href="{{ url_for('login') }}">Login</a></li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
