<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href='/'>Tiendas Móvil</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="productoDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        PRODUCTO
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="productoDropdown">
                        <li><a class="dropdown-item" href="#">Categoría 1</a></li>
                        <li><a class="dropdown-item" href="#">Categoría 2</a></li>
                        <li><a class="dropdown-item" href="#">Categoría 3</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="contactoDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        CONTACTO
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="contactoDropdown">
                        <li><a class="dropdown-item" href="#">Formulario de contacto</a></li>
                        <li><a class="dropdown-item" href="#">Ubicación</a></li>
                        <li><a class="dropdown-item" href="#">Información de contacto</a></li>
                    </ul>
                </li>
                {% if 'usuario' in session %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('ver_mapa') }}">MAPA</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('registro_pedido') }}">REGISTRAR PEDIDO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('registro_productos') }}">REGISTRAR PRODUCTO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('registro_clientes') }}">REGISTRAR CLIENTE</a>
                </li>
                {% endif %}

            </ul>
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-user"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                        {% if 'usuario' in session %}
                            <li><a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a></li>
                            <li><a class="dropdown-item" href="#">Perfil</a></li>
                            <li><a class="dropdown-item" href="#">Configuración</a></li>
                        {% else %}
                            <li><a class="dropdown-item" href="{{ url_for('login') }}">Login</a></li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
